In [14]:
import pandas as pd
season1 = pd.read_csv("season1.csv")
season2 = pd.read_csv("season2.csv")

In [13]:
season1

     球隊  名次   勝  負   和
0  樂天桃猿   1  37  1  22
1  中信兄弟   2  32  2  26
2   統一獅   3  31  2  27
3   味全龍   4  31  0  29
4  富邦悍將   5  16  1  43

In [15]:
season2

      球隊  名次   勝  負   和
0   中信兄弟   1  37  2  21
1   樂天桃猿   2  33  3  24
2   台鋼獵鷹   3  30  3  27
3    味全龍   4  26  5  29
4  新竹工程師   5  17  1  42

In [22]:
#將cloumn為球隊,抽出來放進list
#list無法直接使用,聯集交集差集,要轉換成set
list1=set(list(season1['球隊']))
list2=set(list(season2['球隊']))
print(list1)
print(list2)

{'富邦悍將', '中信兄弟', '味全龍', '統一獅', '樂天桃猿'}
{'台鋼獵鷹', '中信兄弟', '味全龍', '新竹工程師', '樂天桃猿'}

In [27]:
#交集 第一季和第二季都出賽
print(list1&list2)
#差集 只出賽第一季
print(list1-list2)

#xu0兩季至少有一季出賽
print(list1|list2)
#只出賽第二季
print(list2-list1)

#只出賽一季
print((list1|list2)-(list1&list2))

{'中信兄弟', '味全龍', '樂天桃猿'}
{'統一獅', '富邦悍將'}
{'台鋼獵鷹', '富邦悍將', '中信兄弟', '味全龍', '統一獅', '樂天桃猿', '新竹工程師'}
{'台鋼獵鷹', '新竹工程師'}
{'統一獅', '台鋼獵鷹', '新竹工程師', '富邦悍將'}

['樂天桃猿', '中信兄弟', '統一獅', '味全龍', '富邦悍將']